NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
CLERK_SECRET_KEY=clerk_api_key
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=clerk_publishable_key
NEXT_PUBLIC_KOHORT_API_URL=http://localhost:3001